* {
    margin: 0;
    padding: 0;
}

body {
    background: #E1ECF9;
    margin-top: 2%;
}

.instructions {
    text-align: center;
    margin: 2% 20%;
    border: 2px solid black;
    padding: 20px;
    background-color: #609CE1;
    border-radius: 30px;
}

.instructions h1 {
    margin-bottom: 10px;
}

.game {
    margin: 0 30%;
    background-color: #609CE1;
    text-align: center;
    box-shadow: 1px 1px 10px 10px black;
    border-radius: 30px;
}

.game h1 {
    margin-bottom: 0.7rem;
}

.game h2 {
    margin-bottom: 0.7rem;
}

.time {
    display: none;
    font-size: 2rem;
    padding-bottom: 5px;
}

.message {
    font-size: 2.3rem;
}

.game p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.box-1, .box-2 {
    width: 150px;
    height: 150px;
    background-color: green;
    position: absolute;
  }

  .box-1 {
    opacity: 0;
    top: 50%;
    left: 7%;
  }

  .box-2 {
    opacity: 0;
    top: 50%;
    right: 7%;
  }

@keyframes animation {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    100% {
        transform: rotate(360deg);
    }
  }

.guess {
    display: block;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    font-size: 5rem;
}

.name::placeholder {
    font-size: 1.7rem;
}

.name {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 30px;
    font-size: 1.7rem;
}

.score-board h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.score-board button {
    margin-top: 8px;
}

.score-board,
 table {
    text-align: center;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
}

table {
    border-spacing: 15px;
    background-color: #609CE1;
    border-radius: 10px;
}

button {
    cursor: pointer;
    margin-bottom: 1rem;
    background: darkgrey;
    padding: 10px;
    border: none;
    border-radius: 10%;
}

.register-score {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
.popup {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 20% auto;
    padding: 20px;
    background: #609CE1;
    position: relative;
}

.ranking {
    padding-top: 10px;
    font-size: 1.3rem;
}

.stats p {
    font-size: 1.2rem;
}

.stats h2 {
    font-size: 2.2rem;
}

.stats > p {
    margin-bottom: 5px;
}

form:last-child {
    font-size: 1.2rem;
}
